/* title */

#title{
  background-color: #3AB4F2;
  height:50%;
}
.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.4rem;
}
.navbar{
  padding:5% 14% 1.2%;
}
.titleText{
  margin-top: 4.5%;
  color: #F6F6F6;
  padding-left: 8.5%;
}
.titleText h1{
  font-family: Montserrat;
  font-size: 3.2rem;
  line-height: 4.5rem;
}
.titleText h4{
  font-family: Ubuntu;
  font-size:1.5rem;
  line-height: 2.5rem;
}
.titleText img{
  padding-left: 25%;
}
.titleButton
{
  padding-top: 7%;
}
.headingText{
  width:120%;
}
.nav-link{
  font-size: 20px;
  margin-right: 8px;
}
.fluid-container{
  height:700px;
}

/* our solutions */
#ourSolutions{
  background-color:#F6F6F6;
}
.container h3{
  font-family: Ubuntu;
}
.sol{
  margin:4% 8%;
  padding:0% 15%;
}
.sol img{
  width:50%;
  margin-left:15%;
}
.sol .col-6{
  margin-bottom: 50px;
}
#products{
  background-color: #F6F6F6;
}
.solu h2{
  font-family: Montserrat;
  text-align: center;
  padding: 5% 0%;
  font-size:3rem;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: #0078AA;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #0078AA;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #0078AA;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #0078AA;
}
.carousel-inner{
  text-align: center;
}
.press-logo{
  width: 10%;
  margin: 2%;

}
#press{
  text-align: center;
}
.clients{
  background-color:#F6F6F6;
  padding: 7% 0%;
}
.contact{
  background-color: #0078AA;
  color:#F6F6F6;
}
.contact-head{
  font-family: Montserrat;
  text-align: center;
  padding-top: 3%;
}
.contact-head h3{
  font-size: 2.5rem;
}
.icons{
  background-color: #0078AA;
  padding-top: 2%;
}
#footer{
  color:#F6F6F6;
}
.footer-heading h3{
  font-size: 2.5rem;
  text-align: center;
}
.footer-footer{
  margin-top: 5%;
  padding-bottom: 2%;
}
.footer-footer p{
  font-family: Ubuntu;
  color:#F6F6F6;
  text-align: center;
}
.footer-row1,.footer-row2{
  margin-top: 10%;
}
.footer-row1{
  font-size:1.5rem;
  font-family: Ubuntu;
}

.footer-row2{
  font-size:1.5rem;
  font-family: Ubuntu;

}
.footer-data{
  width: 65%;
}
.footer-row1 a,.footer-row2 a{
  text-decoration: none;
  color:#fff;
}
.footer-row2 a:hover{
  color:#3AB4F2;
}
.footer-row1 a:hover{
  color:#3AB4F2;
}
.titleButton a{
  text-decoration: none;
  color: #fff;
}
.titleButton a:hover{
  color: black;
}
.carousel-item h3{
  margin-top: 2%;
}
.contact-us{
  background-color: #3AB4F2;
}
.contact-us .container{
  height: 100%;
}
.img1-footer img{
  width: 100%;
  height: 670px;
  margin-top: 7%
}
.footer-text p{
  text-align: center;
  color:white;
  font-family: Montserrat;
  font-size: 4.2rem;
  margin-top: 7%;
}
.footer-form label{
  font-family: ubuntu;
  color: white;
  font-size: 1.2rem;
}
.footer-title{
  font-family: Montserrat;
  color:white;
  font-size: 2rem;
}
.footer-title-text{
  font-family: ubuntu;
  color: white;s

}
.footer-contact{
  padding-left: 15%;
  padding-top: 5%;
}
.footer-partition{
  padding-left: 6%;
}
.footer-contact-block{
  padding-top: 7%;
}
.footer-contact-block a{
  color:white;
}
.footer-contact-block a:hover{
  color:#3AB4F2;
}
